.container {
  display:flex;

}
nav {
  display: flex;
  flex-direction:row;
  margin-right: 50px;
  background-color: seagreen;
  cursor: pointer;
}
nav a {
  padding: 10px;
}
nav a:hover {
  background-color: gold;
  display: block;
}
main div {
  display:none;
  padding: 20px;
}
.active {
  display: block;
}

.form input {
  min-width: 400px;
  display: block;
  margin: 20px;
  padding: 15px 20px;
  background-color: #ece7e7;
  font-size: 20px;
  border: none;
  outline: none;
  box-shadow: 15px 15px 25px #a8a8a8;
  transition: box-shadow 0.5s;
}

.form input:focus {
  box-shadow: 5px 5px 15px #a8a8a8;
}

.form .btn {
  margin: auto;
  padding: 10px 35px;
  background-color: #f1a566;
  color: #fff;
  border: none;
  font-size: 22px;
  border-radius: 10px;
  box-shadow: 15px 15px 20px #a8a8a8;
  transition: box-shadow 0.5s;
  outline: none;
}

.form .btn:hover {
  box-shadow: 5px 5px 15px #aaa;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  width: 50vw;
  position: absolute;
  bottom: 0px;
  font-size: 35px;
}

footer {
	padding: 40px 0 0 0;
	background: #444;
	color: #aaa;
	text-align: left;
}

.footer-left a { color: #ddd; border-bottom: 1px dashed #ddd; }
.footer-left a:hover, .footer-left a:focus { color: #ddd; border: 0; }

.footer-right {
	text-align: right;
}

.footer-right a {
	margin: 0 6px;
    font-size: 32px;
    color: #aaa;
}
.footer-right a:hover, .footer-right a:focus { color: #eee; }

.footer-bottom {
	padding-bottom: 25px;
	text-align: center;
}

.footer-bottom a {
	font-size: 32px;
    color: #666;
    line-height: 40px;
}

.footer-bottom a:hover, .footer-bottom a:focus { color: #888; }

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.div {
  position: auto;
}