
.container {
    display:flex;
  
  }
  nav {
    display: flex;
    flex-direction:row;
    margin-right: 50px;
    background-color: seagreen;
    cursor: pointer;
  }
  nav a {
    padding: 10px;
  }
  nav a:hover {
    background-color: gold;
    display: block;
  }
  main div {
    display:none;
    padding: 20px;
  }
  .active {
    display: block;
  }
  
  .form input {
    min-width: 400px;
    display: block;
    margin: 20px;
    padding: 15px 20px;
    background-color: #ece7e7;
    font-size: 20px;
    border: none;
    outline: none;
    box-shadow: 15px 15px 25px #a8a8a8;
    transition: box-shadow 0.5s;
  }
  
  .form input:focus {
    box-shadow: 5px 5px 15px #a8a8a8;
  }
  
  .form .btn {
    margin: auto;
    padding: 10px 35px;
    background-color: #f1a566;
    color: #fff;
    border: none;
    font-size: 22px;
    border-radius: 10px;
    box-shadow: 15px 15px 20px #a8a8a8;
    transition: box-shadow 0.5s;
    outline: none;
  }
  
  .form .btn:hover {
    box-shadow: 5px 5px 15px #aaa;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    width: 50vw;
    position: absolute;
    bottom: 0px;
    font-size: 35px;
  }
  
  footer {
      padding: 40px 0 0 0;
      background: #444;
      color: #aaa;
      text-align: left;
  }
  
  .footer-left a { color: #ddd; border-bottom: 1px dashed #ddd; }
  .footer-left a:hover, .footer-left a:focus { color: #ddd; border: 0; }
  
  .footer-right {
      text-align: right;
  }
  
  .footer-right a {
      margin: 0 6px;
      font-size: 32px;
      color: #aaa;
  }
  .footer-right a:hover, .footer-right a:focus { color: #eee; }
  
  .footer-bottom {
      padding-bottom: 25px;
      text-align: center;
  }
  
  .footer-bottom a {
      font-size: 32px;
      color: #666;
      line-height: 40px;
  }
  
  .footer-bottom a:hover, .footer-bottom a:focus { color: #888; }
  
  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }
  .div {
    position: auto;
  }


  .btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

  .shop-item {
    margin: 5px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 150px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}




.section-header {
  font-family: "Metal Mania";
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}


.content-section {
  margin: 1em;
}

[data-theme="dark"] {
  background-color: #111;
  color: #333;
}

[data-theme="dark"] .bg-light {
  background-color: #333;
}

[data-theme="dark"] .bg-white {
  background-color: #000;
}

[data-theme="dark"] .bg-black {
  background-color: #eee;
}